<h2>Hola <%= @patient.name %> !</h2>

<p>
  ¡ Ha sido un tiempo ! Recuerda realizar un chequeo dental cada 6 meses, para mantener al máximo la salud de tus dientes.
</p>


<p>
  ¡Agenda con nosotros!
</p>
<p>
  <strong>Clínica Dental San Antonio.</strong>
</p>