<title>Editar status &middot; Clínica Dental San Antonio</title>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <br><br><br>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Editar status</h4>

            <%= render "form", status: @status %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
