<p style="color: green"><%= notice %></p>

<h1>Statuses</h1>

<div id="statuses">
  <% @statuses.each do |status| %>
    <%= render status %>
    <p>
      <%= link_to "Mostrar este status", status %>
    </p>
  <% end %>
</div>

<% if user_is_secretary? || user_is_admin? %>
  <%= link_to "Nuevo status", new_status_path %>
<% end %>

