

<%= render @status %>

<div>

  <% if user_is_admin? %>
    <%= link_to "Editar este status", edit_status_path(@status) %> |
    <%= link_to "Volver a statuses", statuses_path %>
    <%= button_to "Eliminar este status", @status, method: :delete %>
  <% end %>

</div>
