

<%= render @morning_time %>

<div>

  <% if user_is_secretary? || user_is_admin? %>
    <%= link_to "Editar esta hora", edit_morning_time_path(@morning_time) %> |
    <%= link_to "Volver a Horas disponibles", morning_times_path %>
  <% end %>

  <% if user_is_admin? %>
    <%= button_to "Eliminar esta hora", @morning_time, method: :delete %>
  <% end %>

</div>
