<title>Editar rol &middot; Clínica Dental San Antonio</title>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <br><br><br>
        <div class="card fat">
          <div class="card-body">
            <div class="col-sm-7"><h2>Editar <b>Rol</b></h2></div><br>

            <%= render "form", role: @role %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>