<p style="color: green"><%= notice %></p>

<h1>Roles</h1>

<div id="roles">
  <% @roles.each do |role| %>
    <%= render role %>
    <p>
      <%= link_to "Mostrar detalles", role %>
    </p>
  <% end %>
</div>

<% if user_is_secretary? || user_is_admin? %>
  <%= link_to "Crear nuevo rol", new_role_path %>
<% end %>
