.navbar {
    background-color: #4785e2;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;



}

.navbar-nav .nav-item {
    margin-right: 10px; /* Espacio entre elementos de la barra de navegación */
    margin-left: auto;
    border: none;
    padding: 0;
    width: 100%;
    text-align: center;



}

.navbar-brand {
    margin-right: auto; /* Mueve la marca hacia la izquierda de la barra de navegación */
    margin-left: auto;
    background-color: transparent;
    border: none;



}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0074D9, #FFFFFF);
}
.dropdown {
    right: 0;
    left: 30px;
    top: 0;

}


.small-input {
    width: 150px; /* Ajusta el ancho según tus preferencias */
    height: 30px; /* Ajusta la altura según tus preferencias */
    font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
    /* Otros estilos personalizados, como el relleno o el margen */
}
#whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    right: 20px; /* Ajusta la distancia desde la derecha según tus necesidades */
    z-index: 1000; /* Asegura que esté por encima de otros elementos en la página */
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
