.whatsapp-icon {
    background-image: url("https://image.flaticon.com/icons/svg/124/124034.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
