<title>Estado cita &middot; Clínica Dental San Antonio</title>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <br><br><br>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Estado cita</h4>

            <%= render "appointments/change_status", change_status: @appointment %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <%= link_to "Mostrar cita", @appointment %> |
  <%= link_to "Volver atrás", appointments_path %>


</div>
