<p style="color: green"><%= notice %></p>

<h1>Citas</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <p>
      <%= link_to "Mostrar cita", appointment %>
    </p>
  <% end %>
</div>

<%= link_to "Agendar nueva cita", new_appointment_path %>
