<h1>New appointment</h1>

<%= render "form", appointment: @appointment %>

<br>

<div>
  <% if user_is_admin? %>
    <%= link_to "Back to appointments", appointments_path %>
  <% end %>


  <%= link_to "Atrás", root_path  %>
</div>
