<!-- FOOTER -->

<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <script nonce="c982211a-4435-4a6d-be5e-7437341d611a">(function(w,d){!function(dp,dq,dr,ds){dp[dr]=dp[dr]||{};dp[dr].executed=[];dp.zaraz={deferred:[],listeners:[]};dp.zaraz.q=[];dp.zaraz._f=function(dt){return async function(){var du=Array.prototype.slice.call(arguments);dp.zaraz.q.push({m:dt,a:du})}};for(const dv of["track","set","debug"])dp.zaraz[dv]=dp.zaraz._f(dv);dp.zaraz.init=()=>{var dw=dq.getElementsByTagName(ds)[0],dx=dq.createElement(ds),dy=dq.getElementsByTagName("title")[0];dy&&(dp[dr].t=dq.getElementsByTagName("title")[0].text);dp[dr].x=Math.random();dp[dr].w=dp.screen.width;dp[dr].h=dp.screen.height;dp[dr].j=dp.innerHeight;dp[dr].e=dp.innerWidth;dp[dr].l=dp.location.href;dp[dr].r=dq.referrer;dp[dr].k=dp.screen.colorDepth;dp[dr].n=dq.characterSet;dp[dr].o=(new Date).getTimezoneOffset();if(dp.dataLayer)for(const dC of Object.entries(Object.entries(dataLayer).reduce(((dD,dE)=>({...dD[1],...dE[1]})),{})))zaraz.set(dC[0],dC[1],{scope:"page"});dp[dr].q=[];for(;dp.zaraz.q.length;){const dF=dp.zaraz.q.shift();dp[dr].q.push(dF)}dx.defer=!0;for(const dG of[localStorage,sessionStorage])Object.keys(dG||{}).filter((dI=>dI.startsWith("_zaraz_"))).forEach((dH=>{try{dp[dr]["z_"+dH.slice(7)]=JSON.parse(dG.getItem(dH))}catch{dp[dr]["z_"+dH.slice(7)]=dG.getItem(dH)}}));dx.referrerPolicy="origin";dx.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(dp[dr])));dw.parentNode.insertBefore(dx,dw)};["complete","interactive"].includes(dq.readyState)?zaraz.init():dp.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

<footer class="container">

  <div class="row">
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-map-marker"></span>
        </div>
        <div class="text">
          <p> 12 Oriente 2 Sur 1947, Talca &middot; Galería Patricia Ramírez - Local 19. </p>
        </div>
      </div>
    </div>

      <div class="col-md-2">
        <div class="dbox w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-clock-o"></span>
          </div>
          <div class="text">
            <p> Lunes a Sábados de 9:30 a 13:30 hrs. </p>
          </div>
        </div>
      </div>

    <div class="col-md-2">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-phone"></span>
        </div>
        <div class="text">
          <p>(71)2714300</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-whatsapp"></span>
        </div>
        <div class="text">
          <p>+56994937365</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-paper-plane"></span>
        </div>
        <div class="text">
          <p>clinicasanantoniotalca@gmail.com</p>
        </div>
      </div>
    </div>

  </div>
</footer>
</body>
</html>
