
  <style>

  </style>
  <title>Clínica Dental</title>
</head>
<body>


<!-- Contenido de la página -->

<div id="whatsapp-button" class="whatsapp-button">
  <%= render 'whats_app_button' %>
</div>

</body>
</html>
